ALPP_crispr_target_essentiality.rds
AXL_crispr_target_essentiality.rds
BCMA_crispr_target_essentiality.rds
CD19_crispr_target_essentiality.rds
CD22_crispr_target_essentiality.rds
CD33_crispr_target_essentiality.rds
CD38_crispr_target_essentiality.rds
CD70_crispr_target_essentiality.rds
CEA_crispr_target_essentiality.rds
CLDN18.2_crispr_target_essentiality.rds
EGFR_crispr_target_essentiality.rds
EGFRvIII_crispr_target_essentiality.rds
EPCAM_crispr_target_essentiality.rds
ERBB2_crispr_target_essentiality.rds
FOLH1_crispr_target_essentiality.rds
GPC3_crispr_target_essentiality.rds
IL3RA_crispr_target_essentiality.rds
MET_crispr_target_essentiality.rds
MS4A1_crispr_target_essentiality.rds
MSLN_crispr_target_essentiality.rds
MUC1_crispr_target_essentiality.rds
PSCA_crispr_target_essentiality.rds
RAET1E_crispr_target_essentiality.rds
ROR2_crispr_target_essentiality.rds
TNFRSF10B_crispr_target_essentiality.rds
ULBP1_crispr_target_essentiality.rds
ULBP2_crispr_target_essentiality.rds
ULBP3_crispr_target_essentiality.rds
crispr_target_essentiality.rds
